<% provide(:title, @user.uname) %>
<div class="container">
    <div class="fb-profile">
        <%= image_tag('banner.jpeg', class: 'fb-image-lg', alt: 'Profile Banner Image') %>
        <%= image_tag('anon_logo.jpeg', class: 'fb-image-profile thumbnail', alt: 'Profile Image') %>
        <div class="fb-profile-text">
          <div class="row">
            <aside class="col-md-4">
              <section class="stats">
                <%= render 'shared/stats' %>
              </section>
              <%= render 'follow_form' if logged_in? %>              
              <% if @user == current_user %>
              <section class="micropost_form">
                <%= render 'shared/micropost_form' %>
              </section>
              <% else %>
              <section class="user_info">
                <%= render 'shared/user_info' %>
              </section>
              <% end %>
            </aside>
            <div class="col-md-8">
              <h3 class="pst_feed">Post Feed</h3>
              <%= render 'shared/feed' %>
            </div>

          </div>
        </div>

    </div>

</div>
